html, body { /* want to set height and width 100% to make sure they cover the whole viewport */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: beige; /* text color*/
    box-sizing: border-box;
}

#background { 
    background-image: linear-gradient(245deg, #c24264, #e8d8dc, #f57953, #f0b34a, #a679f2);
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
}

#projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.0625em;
    background-color: black;
    height: auto;
    width: 70%;
    border-radius: 0.5%;
    border: 25px solid black;
    margin: auto;
    margin-top: 3%;
}

.project {
    background-color: lightskyblue;
    height: 150px;
    width: 150px;
    border-radius: 3%;
}

