#background { 
    background-image: linear-gradient(245deg, #c24264, #e8d8dc, #f57953, #f0b34a, #a679f2);
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  background: black;
  border: 30px solid black;
  margin: 3px;
  gap: 1px 1px;
}

.flex-row {
    display:flex;
    background: crimson;
    flex-wrap: wrap;
    height: 50vh;
    flex: 1 1 auto;
    gap: 1px;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-item {
  height: 400px;
  width: 400px;
  background: lightskyblue;
  border: 2px dashed white;
  border-radius: 5%;
  flex: 1 1 auto;
}

.small-nested-flex-item {
  height: auto;
  width: 200px;
  background: black;
}
